/* variables */
:root {
  --first-text-color: #212121;
  --background-color: #fff;
  --pretty-color: #2196f3;
  --while-color: #ffffff;
  --link-color: #757575;
  --accent-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
.header {
  background-color: #ffffff;
  color: var(--while-color);
  font-weight: 1600;
}

/* header */

/*  navList  */
.nav-List a {
  color: var(--first-text-color);
}
.nav-List a:hover,
.nav-List a:focus {
  color: var(--pretty-color);
  font-size: 14px;
}
/* navList  */

/* auth nav */
.auth-nav-List a {
  color: var(--link-color);
}
.auth-nav-List a:hover,
.auth-nav-List a:focus {
  color: var(--pretty-color);
  font-size: 14px;
}
/* auth Nav */
body {
  background-color: var(--background-color);
  color: var(--first-text-color);
  text-decoration: none;
  color: inherit;
  margin: 0%;
  list-style: none;
  padding: 0%;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1, 5;
  font-weight: 1600;
}

ul {
  list-style: none;
}
.classbutton {
  cursor: pointer;
}
.classbutton1:hover {
  color: var(--pretty-color);
}
