/* variables */
:root {
  --first-text-color: #212121;
  --background-color: #fff;
  --pretty-color: #2196f3;
  --while-color: #ffffff;
  --link-color: #757575;
  --sectionfooter-color: #2f303a;
  --accent-font: Raleway, sans-serif;
  --main-font: Roboto, sans-serif;
}

/* header */
.header {
  background-color: #ffffff;
  color: var(--while-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}
.class-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1, 19;
}
/* header */

/* секции */
.section1 {
  background-color: var(--sectionfooter-color);
}
/* секции */
/*  navList  */
.nav-List a {
  color: var(--first-text-color);
}
.nav-List a:hover,
.nav-List a:focus {
  color: var(--pretty-color);
  font-size: 14px;
}
/* navList  */

/* auth nav */
.auth-nav-List a {
  color: var(--link-color);
}
.auth-nav-List a:hover,
.auth-nav-List a:focus {
  color: var(--pretty-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
}
/* auth Nav */
body {
  background-color: var(--background-color);
  color: var(--first-text-color);
  text-decoration: none;
  color: inherit;
  margin: 0%;
  list-style: none;
  padding: 0%;
  font-family: var(--main-font);
  font-size: 14px;
}

ul {
  list-style: none;
}
.classbutton,
.classbutton1,
.classbutton2 {
  cursor: pointer;
}
.classbutton1:hover,
.classbutton1:focus {
  color: var(--pretty-color);
}
.classbutton2:hover,
.classbutton2:focus {
  color: var(--pretty-color);
}
/* заголовки */
.intro-subtitle {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
}
.intro-head {
  color: var(--while-color);
}
/* заголовки */

/* параграфы */
.class-p {
  font-size: 16px;
  line-height: 1, 875;
}
/* параграфы */

/* adress */
.adress-list :hover,
.adress-list :focus {
  color: var(--pretty-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 7;
}
/* adress */

/* footer */
.class-footer {
  background-color: var(--sectionfooter-color);
}
/* footer */
